/* --------------------------------------------------------------------------
| BORDERS...
|-------------------------------------------------------------------------- */

$bw-thin: 0.063rem; // 1px
$bw-medium: 0.094rem; // 1.5px
$bw-thick: 0.125rem; // 2px
$bw-thick2: 0.188rem; // 3px
$bw-heavy: 0.25rem; // 4px
$bw-heavy2: 0.375rem; // 6px
$bw-heavy3: 0.5rem; // 8px

$raddi-xs: 0.125rem; // 2px
$raddi-sm: 0.25rem; // 4px
$raddi-md: 0.5rem; // 8px
$raddi-lg: 1rem; // 16px
$raddi-xl: 1.5rem; // 24px
$raddi-xxl: 2rem; // 32px
$raddi-full: 50%;