/* --------------------------------------------------------------------------
| BREAKPOINTS...
|-------------------------------------------------------------------------- */

$break-xs: 320px;
$break-sm: 375px;
$break-2sm: 425px;
$break-3sm: 576px;
$break-md: 640px;
$break-2md: 720px;
$break-3md: 768px;
$break-lg: 992px;
$break-2lg: 1024px;
$break-3lg: 1080px;
$break-xl: 1200px;
$break-2xl: 1280px;
$break-hd: 1366px;
$break-2hd: 1400px;
$break-3hd: 1440px;
$break-4hd: 1536px;
$break-Fhd: 1920px;
$break-qhd: 2560px;
$break-uhd: 3840px;