/* --------------------------------------------------------------------------
| FONTS...
|-------------------------------------------------------------------------- */

$fs-xs3: 0.25rem; // 4px
$fs-xs2: 0.5rem; // 8px
$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-md: 1rem; // 16px
$fs-lg: 1.5rem; // 24px
$fs-xl: 2rem; // 32px
$fs-xl2: 2.5rem; // 40px
$fs-xl3: 3rem; // 48px
$fs-xl4: 3.5rem; // 56px
$fs-xl5: 4rem; // 64px
$fs-xl6: 4.5rem; // 72px
$fs-xl7: 5rem; // 80px
$fs-xl8: 5.5rem; // 88px
$fs-xl9: 6rem; // 96px
$fs-xl10: 6.5rem; // 104px
$fs-xl11: 7rem; // 112px


$lh-shorter: 125%;
$lh-short: 140%;
$lh-base: 160%;
$lh-tall: 180%;